
.container  {
    margin: 0px;
}

.sidebar {
    background-color: gray;
}

table.tableCurrent   {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 100px;
}

table.tableForecast {
    table-layout: fixed;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
  }

